.header {
  padding: $global-padding * 2;
  background-color: $primary-color;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);

  h1 {
    color: #fff;
    font-weight: normal;
  }

  small {
    color: #fff;
    opacity: 0.7;
    font-weight: 200;
    font-size: 0.6em;

    @media #{$small-only} {
      display: block;
      margin-top: $global-padding;
    }
  }
}